/*==============================
=            COLORS            =
===============================*/

$primary: #8f685b;
$primary-dark: #654235;
$black: #212121;
$red: red;
$orange: orange;
$green: green;